@import "common.css";

.hero__title {
  font-size: 2em;
}

.hero--primary {
  --ifm-hero-text-color: var(--color-black);
  background: #eee url(/img/hero-bg.svg) center top no-repeat;
  background-attachment: fixed;
}

html[data-theme="dark"] .hero--primary {
  background: rgb(1, 22, 39) url(/img/hero-bg-dark.svg) center top no-repeat;
  background-attachment: fixed;
  --ifm-hero-text-color: var(--ifm-color-secondary);
}

.hero--primary .button--outline {
  background-color: #0076df;
  border-color: #0076df;
  --ifm-font-color-base: var(--color-white);
}

.hero--primary .button--outline:hover {
  opacity: 0.85;
  color: var(--color-white);
  transition: 0.25s;
}
